* {
    box-sizing: border-box;
  }
  
  @media (min-width: 600px) {
    .contain {
      padding: 0;
    }
  }
  
  h3,
  ul {
    margin: 0;
  }
  input,
  textarea{
    width: 200px;
    height: 10px;
    border: 1px solid #000;
    margin-right: 20px;
  }
  select{
    width: 200px;
    height: 30px;
    border: 1px solid #000;
    margin-right: 20px;
  }
  .form {
    background: #fff;
  }

  form label {
    width: 150px;
    display: block;
    font-size: 15px;
    padding: 5px;
    padding-right: 18px;
  }
  form p {
    margin: 0;
    font-size: 10px;
    display: flex;
    padding: 3px;
    margin-right: auto;
  }
  
  .full-width {
    grid-column: 2 / 6;
  }
  
 
  input,
  textarea{
    padding: 1em;
    resize: none;
  }

  .tabb {
    color: white;
  }
  .row2 {
    display: flex;
    grid-template: 20% 80%;
  }
  .from1 form {
    text-align: left;
    margin-left: 50px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 1px;
  }
  .form1 input {
    text-align: right;
  }
  .form-2 form{
    text-align: center;
    justify-content: center;
    width: 50%;
  }

  .btnRow{
    margin-top: 150px;
    display: flex;
    padding-left: 200px;

  }
  .btnRow button{
    margin-left:5px ;
}
 
  #ok {
    padding: 10px 15px;
    background-color: #04AA6D;
    color: white;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    height:fit-content;
    align-self: flex-end;
    font-size: 14px !important;
  }
  #ok:hover,
  #ok:focus {
    background-color: #19845d;
    outline: 0;
  }
  #cancel {
    padding: 10px 15px;
    background-color: #ee252f;
    color: white;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    height:fit-content;
    align-self: flex-end;
    font-size: 14px !important;
  }
  #cancel:hover,
  #cancel:focus {
    background-color: #970e19;
    outline: 0;
  }

#btnsearch {
  padding: 10px 15px;
  background-color: #455a64;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  height:fit-content;
  align-self: flex-end;
  font-size: 14px !important;
}
#btnsearch:hover,
#btnsearch:focus {
  background-color: #455a70;
  outline: 0;
}
#btnAdd {
  padding: 10px 15px;
  background-color: #03a9f4;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  height:fit-content;
  align-self: flex-end;
  font-size: 14px !important;
}
#btnAdd:hover,
#btnAdd:focus {
  background-color: #03a9f9;
  outline: 0;
}
   