html,
body {
  height: 100%;
}

body {
  padding-top: 5rem;
  background-color: #f5f5f5;
}

.form-signin {
  /* max-width: 25rem; */
  margin: auto;
}
 button{
     color: #000;

 }
 .form-floating {
  position: relative;
  width: 100%;
}